body {
  margin: 0px;
  background-color: #070024 !important;
}
/*navbar*/
nav :hover {
  color: rgba(177, 2, 2, 0.904) !important; }

  /*Carrito*/
 .ver-carrito {
  font-size: 25px !important;
  margin-right: 20px !important;
  margin-top: 3.5vh !important;
  cursor: pointer !important;
  }

/*borrar boton producto*/
.delete-product {
  cursor: pointer;
}

/*Contador Carrito*/
.cantidad-carrito {
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  padding: 2px;
  top: 37px;
  right: 14px;
  position: absolute;
  display: none;
}

.sumar {
  cursor: pointer;
}

.restar {
  cursor: pointer;
}
  .img {
    border-radius: 100% !important; }
/*PARA LOGO*/
.pulsate-bck {
  -webkit-animation: pulsate-bck 3s ease-in-out infinite both;
  animation: pulsate-bck 3s ease-in-out infinite both; }

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

    /*Banner styles*/
.banner {
  background-size: cover;
  background-position: center;
  height: 70vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/imagenes/gente-colores.jpg");
}

.banner-container {
  text-align: center;
  padding: 15% 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 62px;
  font-weight: bold;
}

.banner p {
  font-size: 30px;
  color: white;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

/*product cards*/
.shop-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 10px;
}

.card > img {
  width: 95%;
  height: 250px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.price {
  color: rgb(255, 0, 0);
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  
}

.card button {
  outline: 0;
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: #0d0057;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 40px;
}

.card button:hover {
  opacity: 0.7;
}

/*modal content*/
.modal-container {
  width: 80%;
  margin: 0 10%;
  max-height: 88vh;
  color: #fff;
  background-color: #010042ce;
  display: flex;
  flex-direction: column;
  align-items: center;

  /*for the top*/
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 12vh;
  scrollbar-color: none;
  text-align: center;
}

.modal-container::-webkit-scrollbar {
  display: none;
}
.modal-header {
  display: flex;
  justify-content: center;
  background-color: #010042ce;
  color: #ff0000;
  width: 100%;
  font-style:oblique;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
  Geneva, Verdana, sans-serif 
}

.modal-header-title {
  justify-self: start;
}

.modal-header-button {
  cursor: pointer;
}

.modal-container > .modal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 10px;
}

.modal-container > div > img {
  height: 120px;
  width: 120px;
}

.total-content {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
  background-color: rgb(250, 29, 29);
  color: rgb(0, 255, 55);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media only screen and (max-width: 750px) {
  .modal-container {
    width: 100%;
    margin: 0;
    min-height: 88vh;
  }

  .modal-container > .modal-content {
    justify-content: space-between;
    width: 100%;
    margin: 2px;
  }

  .modal-container > div > img {
    height: 80px;
    width: 80px;
  }
}
.space{
  margin-top: 80px;
}
.decoration {
  text-decoration: none !important;
}